<ion-header [translucent]="true">
  <ion-toolbar color="pink">
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-toggle color="dark" [checked]="true"></ion-toggle> -->
  <div class="dark-mode">
    <ion-toggle [(ngModel)]="themeToggle" (ionChange)="toggleChange($event)" justify="space-between"><strong>Dark Mode</strong></ion-toggle>
    <div>
      <img src="../../assets/hamster-meme.gif" alt="meme">
      <p>There's no light theme if you are always in the dark.</p>
    </div>
  </div>

</ion-content>
