ion-toolbar {
    background-color: var(--ion-color-pink);
}
.dark-mode {
    display: flex;
    flex-direction: column;
    margin: 2em;
    img {
        min-width: 100%;
        margin-top: 1em;
    }
}
p {
    margin-top: -3em;
    color: white;
    text-align: center;
}
